.BuildControls{
    width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 172, 85);
    box-shadow: 0 2px 2px #ccc;
    align-items: center;
}

.orderBtn{
    padding: 10px;
    font-size: 15px;
    background-color: rgb(17, 150, 17);
    outline: none;
    border: none;
    box-shadow: 2px 2px 2px #222;
    margin-top: 20px;
}

.orderBtn:hover{
    background-color: rgb(146, 243, 81);
}
.orderBtn:disabled{
    background-color: lightgray;
}

@media (max-width:500px){
    .BuildControls{
        font-size: 12px;
    }
    
}